/* Gotham Black */
@font-face {
  font-family: "Gotham Black";
  src: url("fonts/Gotham-Black/Gotham-Black-Regular.eot");
  src: url("fonts/Gotham-Black/Gotham-Black-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Black/Gotham-Black-Regular.woff2") format("woff2"), url("fonts/Gotham-Black/Gotham-Black-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* Gotham Black Italic */
@font-face {
  font-family: "Gotham Black Italic";
  src: url("fonts/Gotham-Black-Italic/Gotham-Black-Italic.eot");
  src: url("fonts/Gotham-Black-Italic/Gotham-Black-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Black-Italic/Gotham-Black-Italic.woff2") format("woff2"), url("fonts/Gotham-Black-Italic/Gotham-Black-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* Gotham Bold */
@font-face {
  font-family: "Gotham Bold";
  src: url("fonts/Gotham-Bold/Gotham-Bold.eot");
  src: url("fonts/Gotham-Bold/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Bold/Gotham-Bold.woff2") format("woff2"), url("fonts/Gotham-Bold/Gotham-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
/* Gotham Book */
@font-face {
  font-family: "Gotham Book";
  src: url("fonts/Gotham-Book/Gotham-Book-Regular.eot");
  src: url("fonts/Gotham-Book/Gotham-Book-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Book/Gotham-Book-Regular.woff2") format("woff2"), url("fonts/Gotham-Book/Gotham-Book-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
/* Gotham Light */
@font-face {
  font-family: "Gotham Light";
  src: url("fonts/Gotham-Light/Gotham-Light-Regular.eot");
  src: url("fonts/Gotham-Light/Gotham-Light-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Light/Gotham-Light-Regular.woff2") format("woff2"), url("fonts/Gotham-Light/Gotham-Light-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html,
body {
  margin: 0;
  padding: 0;
}

#es-loreal.es-loreal {
  font-family: "Gotham Book", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  max-width: 998px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000000;
  background-color: #fff;
}
#es-loreal.es-loreal * {
  box-sizing: border-box;
}
#es-loreal.es-loreal h2,
#es-loreal.es-loreal h3,
#es-loreal.es-loreal h4,
#es-loreal.es-loreal h5 {
  font-family: "Gotham Book", sans-serif;
  color: #111;
}
#es-loreal.es-loreal .es-kv__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-loreal.es-loreal .es-kv__logo {
  margin: 16px 0;
  opacity: 0;
  -webkit-animation: slidedown 0.6s ease forwards;
  animation: slidedown 0.6s ease forwards;
}
#es-loreal.es-loreal .es-kv__packshot-img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  width: 100%;
}
#es-loreal.es-loreal .es-kv__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Gotham Book";
  font-weight: 400;
  font-size: 29px;
  text-transform: uppercase;
}
#es-loreal.es-loreal .es-kv__title--red {
  display: block;
  font-family: "Gotham Black";
  font-size: 56px;
  color: #eb0812;
}
#es-loreal.es-loreal .es-kv__title--strong {
  font-family: "Gotham Bold";
  font-weight: 700;
}
#es-loreal.es-loreal .es-kv__subtitle {
  display: block;
  font-size: 23px;
  text-align: center;
}
#es-loreal.es-loreal .es-kv__label {
  display: block;
  width: 300px;
  margin: 0 auto;
  font-size: 23px;
  text-align: center;
  background-color: #eb0812;
  color: #fff;
  border: 1px solid #eb0812;
  border-radius: 7px;
  text-transform: uppercase;
  font-weight: bold;
}
#es-loreal.es-loreal .es-info {
  padding: 50px 0 0;
}
#es-loreal.es-loreal .es-info__inner {
  text-align: center;
  padding: 50px 0;
  background-color: #eb0812;
}
#es-loreal.es-loreal .es-info__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-bottom: 60px;
  font-size: 25px;
  color: #fff;
  font-family: "Gotham Light", sans-serif;
  font-weight: normal;
  color: #fff;
}
#es-loreal.es-loreal .es-info__item {
  position: relative;
  font-size: 20px;
  color: #fff;
}
#es-loreal.es-loreal .es-info__item:not(:last-child) {
  margin-bottom: 100px;
}
#es-loreal.es-loreal .es-info__number {
  position: absolute;
  font-family: "Gotham Bold";
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin: auto;
  position: absolute;
  top: -60px;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 130px;
  font-weight: bold;
  color: #fff;
  opacity: 20%;
}
#es-loreal.es-loreal .es-ingredients {
  padding: 50px 0 0;
  background-color: #f7f7f8;
}
#es-loreal.es-loreal .es-ingredients__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin-bottom: 60px;
  text-align: center;
  font-size: 25px;
  font-family: "Gotham Light", sans-serif;
  font-weight: normal;
}
#es-loreal.es-loreal .es-ingredients__image {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-loreal.es-loreal .es-ingredients__text-container {
  padding-top: 20px;
  padding-left: 10px;
}
#es-loreal.es-loreal .es-ingredients__item-title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding-bottom: 10px;
  font-size: 18px;
  font-family: "Gotham Bold", sans-serif;
  border-bottom: 4px solid #eb0812;
  text-transform: uppercase;
}
#es-loreal.es-loreal .es-cross__packshot {
  position: relative;
  z-index: 1;
  margin-left: 50px;
}
#es-loreal.es-loreal .es-cross__packshot--1::before {
  position: absolute;
  content: "1";
  font-family: "Roboto";
  color: #fbc2c4;
  font-size: 222px;
  top: 0;
  left: -50px;
  line-height: 1;
  z-index: -1;
}
#es-loreal.es-loreal .es-cross__packshot--2::before {
  position: absolute;
  content: "2";
  font-family: "Roboto";
  color: #f9999d;
  font-size: 222px;
  top: -50px;
  left: -60px;
  line-height: 1;
  z-index: -1;
}
#es-loreal.es-loreal .es-cross__packshot--3::before {
  position: absolute;
  content: "3";
  font-family: "Roboto";
  color: #f5666c;
  font-size: 222px;
  top: -50px;
  left: -60px;
  line-height: 1;
  z-index: -1;
}
#es-loreal.es-loreal .es-slider {
  margin: 64px 0;
  margin-top: 120px;
  padding-bottom: 64px;
}
#es-loreal.es-loreal .es-slider__title {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 32px;
  padding: 0 16px;
  text-transform: uppercase;
  line-height: 1.1;
  text-align: center;
}
#es-loreal.es-loreal .es-slider__wrapper {
  padding: 56px 16px 0 16px;
}
#es-loreal.es-loreal .es-slider__content {
  max-width: 886px;
  padding: 16px 24px;
  margin: 0 auto;
  background: #fff;
  border-radius: 16px;
  box-shadow: 8px 16px 40px rgba(0, 0, 0, 0.1);
}
#es-loreal.es-loreal .es-slider__persona {
  display: flex;
  flex-flow: column;
  align-items: center;
}
#es-loreal.es-loreal .es-slider__img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
#es-loreal.es-loreal .es-slider__photo {
  margin-bottom: 16px;
}
#es-loreal.es-loreal .es-slider__content {
  position: relative;
}
#es-loreal.es-loreal .es-slider__slide {
  padding-left: 32px;
  padding-top: 32px;
  position: relative;
}
#es-loreal.es-loreal .es-slider__number {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 145px;
  font-weight: 700;
  color: #bdadbf;
  opacity: 0.34;
  line-height: 1;
}
#es-loreal.es-loreal .es-video__wrapper {
  position: relative;
  margin-bottom: 50px;
  background: #f4f5f7;
}
#es-loreal.es-loreal .es-video__player {
  display: block;
  margin: 0 auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#es-loreal.es-loreal .es-video__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
#es-loreal.es-loreal .es-video__additional-description {
  min-width: 320px;
  margin-bottom: 32px;
}
#es-loreal.es-loreal .es-video__additional-description strong {
  text-transform: none;
}
@media screen and (min-width: 760px) {
  #es-loreal.es-loreal .es-slider__slides {
    width: 500px;
  }
  #es-loreal.es-loreal .es-slider__title {
    font-size: 40px;
  }
  #es-loreal.es-loreal .es-slider__content {
    display: flex;
    flex-flow: row-reverse;
    padding: 32px;
  }
  #es-loreal.es-loreal .es-slider__persona {
    min-width: 136px;
    margin-left: 32px;
  }
  #es-loreal.es-loreal .es-slider__job {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 769px) {
  #es-loreal.es-loreal .es-slider .swiper-button-next,
#es-loreal.es-loreal .es-slider .swiper-container-rtl .swiper-button-prev {
    right: -5px;
    left: auto;
  }
  #es-loreal.es-loreal .es-slider .es-slider .swiper-button-prev,
#es-loreal.es-loreal .es-slider .swiper-container-rtl .swiper-button-next {
    left: -5px;
    right: auto;
  }
  #es-loreal.es-loreal .es-slider .swiper-button-next,
#es-loreal.es-loreal .es-slider .swiper-button-prev {
    width: 40px;
  }
}

@-webkit-keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes sliderleft {
  from {
    opacity: 0.3;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes sliderleft {
  from {
    opacity: 0.3;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(5, 100, 34, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(2, 105, 2, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(5, 190, 61, 0);
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(5, 100, 34, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(2, 105, 2, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(5, 190, 61, 0);
  }
}
#es-loreal.es-loreal .es-cross__single:hover .es-cross__img {
  transform: scale(1.05);
}

#es-loreal.es-loreal .es-slider .slick-button-prev {
  position: absolute;
  top: 50%;
  left: -12px;
}

#es-loreal.es-loreal .es-slider .slick-button-next {
  position: absolute;
  top: 50%;
  right: -12px;
}

#es-loreal.es-loreal .es-slider .slick-pagination {
  position: absolute;
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#es-loreal.es-loreal .es-slider .slick-dots {
  display: flex;
  gap: 0 4px;
  padding: 0;
  margin: 0;
}

#es-loreal.es-loreal .es-slider .slick-dots li {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #e70304;
  opacity: 1;
}

#es-loreal.es-loreal .es-slider .slick-dots li:not(:last-child) {
  margin-right: 6px;
}

#es-loreal.es-loreal .es-slider .slick-dots li.slick-active {
  background: #e70304;
}

#es-loreal.es-loreal .es-slider .slick-dots li button {
  display: none;
}

#es-loreal.es-loreal .es-slider__arrow {
  width: 27px;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */